@import './styles/global.scss';

div.App-container {
    @include spacing-lateral();
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .content {
        // background-color: $wh;
        position: relative;
        top: -2rem;
        text-align: center;

        h1 {
            font-family: $font-header, $font-main, $font-secundary;
            font-size: 3.5rem;
            letter-spacing: -0.5px;
            // font-weight: 900;
            margin-bottom: 3rem;
        }

        p {
            font-size: 2.3rem;
            // font-weight: 400;
            line-height: normal;
        }
    }    
}